<div class="login">
    <div class="login-screen">
      <div class="login-form">
        <img src="/assets/about_team.jpg" alt="team">
        <a class="login-link" href="#">Welcome to our Team!</a>
      </div>
    </div>
  </div>