<header class="header-11 bg-midnight-blue">
  <div class="container">
      <div class="navbar span12">
          <div class="navbar-inner">
              <button type="button" class="btn btn-navbar"> </button>
              <a class="brand" href="#"><img src="/assets/flatui/icons/Compas@2x.png" width="50" height="50" alt="">Joy大学</a>
              <div class="nav-collapse collapse pull-right">
                  <ul class="nav">
                      <li class="<%=active_nav("homes")%>"><a href="/">首页</a></li>
                      <li class="<%=active_nav("schools")%>"><a href="/schools">高校</a></li>
                      <li class="<%=active_nav("majors")%>"><a href="/majors">专业</a></li>
                      <li class="<%=active_nav("score_lines")%>"><a href="/score_lines">分数线</a></li>
                      <li><a href="#">更多</a></li>
                  </ul>
                  <form class="navbar-form pull-left">
                      <a class="btn btn-primary" href="#">登录</a>
                  </form>
              </div>
          </div>
      </div>
  </div>
</header>