<ul class='nav nav-pills'>
  <li><a href="/schools">高校数据</a></li>
  <li><a href="/majors">专业数据</a></li>
  <li><a href="/score_lines">控制分数线</a></li>
  <li><a href="/school_follows">学校关注</a></li>
  <li><a href="#">更多</a></li>
</ul>