<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Joy大学</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/flatui/favicon.ico">

  <%= stylesheet_link_tag "flatui", :media => "all" %>

  <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="/assets/flatui/icon-font.css">
  <!-- end -->

  <link rel="stylesheet" href="/assets/flatui/style.css">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="flatui/html5shiv.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>


  <!-- header-11 -->
  <header class="header-11 bg-midnight-blue">
      <div class="container">
          <div class="navbar span12">
              <div class="navbar-inner">
                  <button type="button" class="btn btn-navbar"> </button>
                  <a class="brand" href="#"><img src="/assets/flatui/icons/Compas@2x.png" width="50" height="50" alt="">Joy大学</a>
                  <div class="nav-collapse collapse pull-right">
                      <ul class="nav">
                          <li class="active"><a href="#">首页</a></li>
                          <li><a href="#">高校</a></li>
                          <li><a href="#">专业</a></li>
                          <li><a href="#">分数</a></li>
                          <li><a href="#">更多</a></li>
                      </ul>
                      <form class="navbar-form pull-left">
                          <a class="btn btn-primary" href="#">登录</a>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <!-- footer-2 -->
  <footer class="footer-2 bg-midnight-blue">
      <div class="container">
          <nav class="pull-left">
              <ul>
                  <li class="active"><a href="#">团队</a></li>
                  <li><a href="#">招聘</a></li>
                  <li><a href="#">关于</a></li>
              </ul>
          </nav>
          <div class="additional-links">
              <a href="#">Copy right @HenryLee</a>
          </div>
      </div>
  </footer>



  <%= javascript_include_tag "flatui" %>
  <!--[if lt IE 8]>
    <script src="/assets/flatui/icon-font-ie7.js"></script>
  <![endif]-->
  <script src="/assets/flatui/startup-kit.js"></script>
  <script src="/assets/flatui/script.js"></script>
</body>
</html>